{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=countries>
  {% for country in countries %}
    <li><h1>Country</h1></li>
    <li><b>ID: </b>{{ country[0] }}</li>
    <li><b>Country: </b>{{country[1]}}</li>
    <ul class="trips">
      {% for trip in trips %}
        {% if trip[4] == country[0] %}
          <br>
          <li><h2>Trips!</h2></li>
          <li><b>ID: </b>{{ trip[0] }}</li>
          <li><b>City: </b>{{ trip[1] }}</li>
          <li><b>Arrival: </b>{{ trip[2] }}</li>
          <li><b>Departure: </b>{{ trip[3] }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
{% endblock %}